@{
    ViewBag.Title = "Home Page";
}



<div class="form-group">
    <label for="username" class="form-label font-weight-bold">GitHub User Name:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="defunkt" />
</div>
<div class="form-group">
    <button id="btnSubmit" class="btn btn-primary">Submit</button>
</div>

<div id="userContent"></div>
<div id="repoContent"></div>


